@import url('https://fonts.googleapis.com/css2?family=Alata&family=Archivo+Black&family=Geologica:wght@100..900&family=Hammersmith+One&family=Lexend:wght@100..900&family=Rubik+Mono+One&display=swap');

* {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #eff6ff 0%,
    #ffffff 60%,
    #ffffff 100%
  );
  height: 86vh;
}

.header {
  text-align: center;
}

.subnityLogo {
  width: 80px;
  height: 80px;
}

.headerTitle {
  font-size: 33px;
  font-weight: 900;
  margin: 14px 0 0 0;

  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

.headerContent {
  margin-top: 3px;
  font-size: 19px;
  color: rgb(61, 61, 61);
}

.loginButton {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  width: 500px;
  height: 58px;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.loginButton div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton img {
  width: 30px;
  height: 30px;
}

.loginButton p {
  padding-left: 20px;
  padding-top: 1px;
  color: rgb(31, 31, 31);
}

.loginButton:hover {
  cursor: pointer;
  background-color: #f9fafb;
}

.cardContainer {
  text-align: center;
  margin-top: 30px;
  padding: 30px 20px 20px 20px;
  background-color: white;
  border: 0;
  border-radius: 14px;
  box-shadow: 0px 10px 10px rgb(228, 228, 228);
}

.cardHeaderTitle {
  font-size: 22px;
  font-weight: 600;
}

.cardHeaderContent {
  font-size: 17px;
  padding: 16px 0 20px 0;
  color: rgb(106, 104, 104);
}

.cardContainer hr {
  margin: 16px 0 28px 11px;
  width: 495px;
  text-align: center;
  border: 1px solid rgb(232, 232, 232);
}

.cardContentTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.cardContentSubBox {
  display: flex;
  margin-bottom: 20px;
}

.cardContentBox div {
  text-align: left;
}

.zap {
  background-color: rgb(53, 161, 255, 0.2);
  color: rgb(0, 85, 255);
  padding: 8px;
  border-radius: 100px;
  margin-right: 16px;
}

.barChart {
  background-color: rgba(0, 255, 42, 0.2);
  color: rgb(26, 155, 0);
  padding: 8px;
  border-radius: 100px;
  margin-right: 16px;
}

.cardContentSubBox .title {
  font-size: 18px;
  margin-bottom: 3px;
  font-weight: 500;
}

.cardContentSubBox .desc {
  font-size: 16px;
  color: rgb(106, 104, 104);
}

.dataPrivacyContainer {
  margin-top: 30px;
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  padding: 20px 20px 30px 20px;
  border-radius: 12px;
}

.dataPrivacy {
  display: flex;
  align-items: center;
  margin: 10px 0 8px 0;
}

.dataPrivacyShield {
  margin-left: 18px;
  color: #494c50;
}

.dataPrivacy p {
  font-size: 20px;
  font-weight: 600;
  margin-left: 16px;
}

.dataPrivacyDataTitle {
  margin-left: 50px;
  padding: 7px 0 4px 0;
  font-size: 17px;
  color: #3f434a;
}

.footer {
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
  color: #6b7280;
}

.footer a {
  color: #2563eb;
  text-decoration-line: none;
}
